%section.category-section.my-4
  .container
    .row
      .col-12
        %h1
          = @category.name
        %p
          = simple_format(@category.description)
      .col-12
        = link_to "Редактировать", edit_category_path(@category), class: "btn btn-warning", id: "editCategory"
        = link_to "Удалить", category_path(@category), method: :delete, class: "btn btn-danger", id: "deleteCategory", data: { confirm: 'Are you certain you want to delete this?' }
    .row
      .col-12
        %h1 Posts
      = render partial: "category_posts/category_post", collection: @category_posts, as: :category_post

%section.comments-section
  .container
    .row
      .col-12
        #comments.mb-4
          = render partial: "comments/comments", locals: {commentable: @category}
        = render partial: "comments/form", locals: {commentable: @category}